name: Go

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"
      - name: Test
        run: |
          go test ./...
  
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8.0.0
        with:
          version: v2.5.0
      - name: go mod tidy
        run: |
          go mod tidy
          git diff --exit-code go.mod go.sum || (echo "go.mod or go.sum needs updating. Run 'go mod tidy' locally." && exit 1)

